* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --animation-start: 0.8s;
  --result-animation-start: 0.8s;
  --result-animation-delay: 0.2s;
  --summary-animation-start: 0.8s;
  --summary-animation-delay: 0.4s;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(221, 100%, 96%),
    hsl(242, 100%, 92%)
  );
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Geist", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

/* card properties */
.card {
  max-width: 700px;
  width: 100%;
  height: 484px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 8px 8px 20px -1px hsl(241, 81%, 54%, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  background: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: blur(16px);
}

@keyframes card-in {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  box-shadow: 8px 8px 20px -1px hsl(241, 81%, 54%, 0.1),
    8px 8px 36px -1px hsl(241, 60%, 54%, 0.1);
  transform: translate(-2px, -2px);
}

/* result-frame section */
.result-frame {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-radius: 24px;
}

.result-title {
  color: hsla(0, 0%, 100%, 0.9);
  opacity: 0;
}

.score-circle {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  box-shadow: 8px 8px 8px hsla(244, 100%, 9%, 0.04) inset;
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.score {
  color: hsl(0, 0%, 100%);
}

.total-score {
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: -4px;
}

.remarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  opacity: 0;
}

.remark-title {
  color: hsl(0, 0%, 100%);
}

.remark-paragraph {
  color: hsl(0, 0%, 100%, 0.7);
  text-align: center;
  animation-delay: 0.2s;
}

/* summary frame section */

.summary-frame {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.summary-title {
  opacity: 0;
  transform: translate(30px, 30px);
}

.summary-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-item {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
  opacity: 0;
  transform: translate(30px, 30px);
}

.summary-item:hover {
  transform: translateY(-2px);
}

.summary-item.reaction {
  background: hsl(0, 100%, 67%, 0.1);
}

.summary-item.reaction:hover {
  background: hsla(0, 100%, 67%, 0.2);
}

.summary-item.memory {
  background: hsl(39, 100%, 56%, 0.1);
}

.summary-item.memory:hover {
  background: hsla(39, 100%, 56%, 0.2);
}

.summary-item.verbal {
  background: hsl(166, 100%, 37%, 0.1);
}
.summary-item.verbal:hover {
  background: hsl(166, 100%, 37%, 0.2);
}

.summary-item.visual {
  background: hsl(234, 85%, 55%, 0.1);
}

.summary-item.visual:hover {
  background: hsl(234, 85%, 55%, 0.2);
}

.summary-name {
  flex: 1;
}

.summary-item.reaction .summary-name {
  color: hsl(0, 100%, 67%);
}

.summary-item.memory .summary-name {
  color: hsl(39, 95%, 47%);
}

.summary-item.verbal .summary-name {
  color: hsl(166, 100%, 37%);
}

.summary-item.visual .summary-name {
  color: hsl(234, 85%, 55%);
}

.marks {
  display: flex;
  gap: 0.25rem;
}

.actual-mark {
  color: hsla(0, 0%, 0%, 0.9);
}

.total-marks {
  color: hsl(0, 0%, 0%, 0.4);
}

.continue {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(9, 26, 77);
  border-radius: 99px;
  color: white;
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
  border: none;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease, box-shadow 0.2s ease;
}

.continue:hover {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsl(235, 72%, 46%)
  );
  box-shadow: 2px 6px 10px hsl(241, 81%, 54%, 0.2);
  transform: translateY(-2px);
}

.continue:active {
  transform: translateY(0);
  box-shadow: 0px 4px 8px hsl(241, 81%, 54%, 0.2);
}

/* RESULT ANIMATION */
@keyframes result-slide {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: card-in var(--animation-start) ease-out;
}

.result-title {
  animation: result-slide var(--result-animation-start) ease-out forwards;
  animation-delay: var(--result-animation-delay);
}

.score-circle {
  animation: result-slide var(--result-animation-start) ease-out forwards;
  animation-delay: calc(var(--summary-delay-delay) + 0.15s);
}

.total-score {
  animation-delay: calc(var(--summary-delay-delay) + 0.2s);
}

.remarks {
  animation: result-slide var(--result-animation-start) ease-out forwards;
  animation-delay: calc(var(--summary-delay-delay) + 0.3s);
}

.remark-paragraph {
  animation-delay: calc(var(--summary-delay-delay) + 0.35s);
}

/* SUMMARY ANIMATION */
@keyframes summary-slide {
  from {
    opacity: 0;
    transform: translate(30px, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.summary-title {
  animation: summary-slide var(--summary-animation-start) ease forwards;
  animation-delay: var(--summary-animation-delay);
}

.summary-item {
  animation: summary-slide var(--summary-animation-start) ease forwards;
  animation-delay: var(--summary-animation-delay);
}

.summary-item:nth-of-type(1) {
  animation-delay: calc(var(--summary-animation-delay) + 0.15s);
}

.summary-item:nth-of-type(2) {
  animation-delay: calc(var(--summary-animation-delay) + 0.3s);
}

.summary-item:nth-of-type(3) {
  animation-delay: calc(var(--summary-animation-delay) + 0.45s);
}

.summary-item:nth-of-type(4) {
  animation-delay: calc(var(--summary-animation-delay) + 0.6s);
}

.continue {
  opacity: 0;
  transform: translate(30px, 30px);
  animation: summary-slide var(--summary-animation-start) ease forwards;
  animation-delay: calc(var(--summary-animation-delay) + 0.75s);
}

/* breakpoints */
@media (max-width: 640px) {
  .card {
    flex-direction: column;
    max-width: 90%;
    width: 100%;
    height: auto;
    height: 90%;
    border-radius: 16px;
  }

  .result-frame,
  .summary-frame {
    padding: 1.5rem;
  }

  .score-circle {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 375px) {
  .card {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .result-frame {
    border-radius: 0 0 24px 24px;
    justify-content: space-between;
    gap: 1rem;
  }

  .summary-frame {
    justify-content: space-between;
    gap: 1rem;
  }
}
